@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Teko:wght@400;500;600;700&display=swap');


body{
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;


}

a {
    color: #fbfbfb;
    text-decoration: none;
}

a:hover{
    color: red;
}

a:active{
    color: rgba(211, 18, 18, 0.794);
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}



li{
    padding: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width:1140px ;
    margin: auto;
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


header{
    position: absolute;
    left: 0px;
    right: 0px;
}

header .row{
    justify-content: right;
    align-items: center;
}

header .navbar{
    background-image: radial-gradient(powderblue,blue);

}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* the top navigation bar spacing and margin */
header .navbar ul li{
    display: inline-block;
    margin-left: 10vh;
}


.home{
    min-height: 100vh;
    background-image: url("images/images/gif\ for\ web\ 2.gif");
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25vh;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #fbfbfb;
    margin-top: 50px;
}

.home .home-content .block h5{
    color: #fbfbfb;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: #fbfbfb;
    font-size: 50px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-shadow: 1px 2px black;
}
.home .home-content .block h3{
    color: #fbfbfb;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: -1px;
    padding: 0;
}

.intro{
    display: flex;
}
.typing{
    margin-left: 10px;
}
.typing::after{
    content: "";
    position: absolute;
    right: -7px;
    width: 3px;
    height: 5%;
    border-right: 2px solid #fbfbfb;
    animation: blink 0.5s infinite ease;
}
/* the blink for typewriter effect not working */
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* About ME */

.about-me{
    padding:100px 15px;
    display: flex;
}

.about-me .section-title{
    background-color: wheat;
    flex: 0 0 100%;
    max-width: 100%;
}

.about-me .section-title h1{
    font-size: 35px;
    display: inline-block;
    text-transform: uppercase;
    color: wheat;
    margin: 0;
}
.about-me .section-title p{
    background-color: blue;
    /* display: :block; */
}